.product {
  flex: 4;
  padding: 1.25rem;
}

.productTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productAddButton {
  width: 5rem;
  border: none;
  padding: 0.3125rem;
  background-color: teal;
  color: white;
  border-radius: 0.3125rem;
  font-size: 1rem;
  cursor: pointer;
}

.productTop {
  display: flex;
}

.productTopLeft,
.productTopRight {
  flex: 1;
}

.productTopRight {
  padding: 1.25rem;
  margin: 1.25rem;
  -webkit-box-shadow: 0rem 0rem 0.9375rem -0.625rem rgba(0, 0, 0, 0.75);
  box-shadow: 0rem 0rem 0.9375rem -0.625rem rgba(0, 0, 0, 0.75);
}

.productInfoImg {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1.25rem;
}

.productInfoTop {
  display: flex;
  align-items: center;
}

.productName {
  font-weight: 600;
}

.productInfoBottom {
  margin-top: 0.625rem;
}

.productInfoItem {
  width: 9.375rem;
  display: flex;
  justify-content: space-between;
}

.productInfoKey {
  margin-right: 20px;
}

.productInfoValue {
  font-weight: 300;
}

.productBottom {
  padding: 1.25rem;
  margin: 1.25rem;
  -webkit-box-shadow: 0rem 0rem 0.9375rem -0.625rem rgba(0, 0, 0, 0.75);
  box-shadow: 0rem 0rem 0.9375rem -0.625rem rgba(0, 0, 0, 0.75);
}

.productForm {
  display: flex;
  justify-content: space-between;
}

.productFormLeft {
  display: flex;
  flex-direction: column;
}

.productFormLeft > label {
  margin-bottom: 0.625rem;
  color: gray;
}

.productFormLeft > input {
  margin-bottom: 0.625rem;
  border: none;
  padding: 0.3125rem;
  border-bottom: 0.0625rem solid gray;
}

.productFormLeft > select {
  margin-bottom: 0.625rem;
}

.productUploadImg {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 0.625rem;
  object-fit: cover;
  margin-right: 1.25rem;
}

.productFormRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.productUpload {
  display: flex;
  align-items: center;
}

.productButton {
  border: none;
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
