.user {
    flex: 4;
    padding: 1.25rem;
  }
  
  .userTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .userAddButton {
    width: 5rem;
    border: none;
    padding: 0.3125rem;
    background-color: teal;
    border-radius: 0.3125rem;
    cursor: pointer;
    color: white;
    font-size: 1rem;
  }
  
  .userContainer {
    display: flex;
    margin-top: 1.25rem;
  }
  
  .userShow {
    flex: 1;
    padding: 1.25rem;
    -webkit-box-shadow: 0rem 0rem 0.9375rem -0.625rem rgba(0, 0, 0, 0.75);
    box-shadow: 0rem 0rem 0.9375rem -0.625rem rgba(0, 0, 0, 0.75);
  }
  
  .userUpdate {
    flex: 2;
    padding: 1.25rem;
    -webkit-box-shadow: 0rem 0rem 0.9375rem -0.625rem rgba(0, 0, 0, 0.75);
    box-shadow: 0rem 0rem 0.9375rem -0.625rem rgba(0, 0, 0, 0.75);
    margin-left: 1.25rem;
  }
  
  .userShowTop {
    display: flex;
    align-items: center;
  }
  
  .userShowImg {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .userShowTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 1.25rem;
  }
  
  .userShowUsername {
    font-weight: 600;
  }
  
  .userShowUserTitle {
    font-weight: 300;
  }
  
  .userShowBottom{
      margin-top: 1.25rem;
  }
  
  .userShowTitle {
    font-size: 0.875rem;
    font-weight: 600;
    color: rgb(175, 170, 170);
  }
  
  .userShowInfo{
      display: flex;
      align-items: center;
      margin: 1.25rem 0rem;
      color: #444;
  }
  
  .userShowIcon{
      font-size: 1rem !important;
  }
  
  .userShowInfoTitle{
      margin-left: 0.625rem;
  }
  
  .userUpdateTitle{
      font-size: 1.5rem;
      font-weight: 600;
  }
  
  .userUpdateForm{
      display: flex;
      justify-content: space-between;
      margin-top: 1.25rem;
  }
  
  .userUpdateItem{
      display: flex;
      flex-direction: column;
      margin-top: 0.625rem;
  }
  
  .userUpdateItem>label{
      margin-bottom: 0.3125rem;
      font-size: 0.875rem;
  }
  
  .userUpdateInput{
      border: none;
      width: 15.625rem;
      height: 1.875rem;
      border-bottom: 0.0625rem solid gray;
  }
  
  .userUpdateRight{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .userUpdateUpload{
      display: flex;
      align-items: center;
  }
  
  .userUpdateImg{
      width: 6.25rem;
      height: 6.25rem;
      border-radius: 0.625rem;
      object-fit: cover;
      margin-right: 1.25rem;
  }
  
  .userUpdateIcon{
      cursor: pointer;
  }
  
  .userUpdateButton{
      border-radius: 0.3125rem;
      border: none;
      padding: 0.3125rem;
      cursor: pointer;
      background-color: darkblue;
      color: white;
      font-weight: 600;
  }