.chart {
    margin: 1.25rem;
    padding: 1.25rem;
    -webkit-box-shadow: 0rem 0rem 0.9375rem -0.625rem rgba(0, 0, 0, 0.75);
    box-shadow: 0rem 0rem 0.9375rem -0.625rem rgba(0, 0, 0, 0.75);
  }
  
  .chartTitle {
    margin-bottom: 1.25rem;
  }